@import 'reset.css';
/* Reset */
.html-content {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.html-content *,
.html-content ::after,
.html-content ::before {
    box-sizing: inherit;
}


.html-content {
    max-width: 1200px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    overflow-x: hidden;
}

.html-content img {
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
    vertical-align: middle;
}

.visually-hidden:not(:focus):not(:active):not(.visually-hidden--show) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Typography */
.html-content a {
    text-decoration: none;
}

.html-content p {
    margin: 10px 0;
    padding: 0;
}


/* Home */
.html-content .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.banner--full {
    margin: auto;
}

.banner--2-cols .banner__item {
    width: 100%;
}

.banner--3-cols .banner__item {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .banner--2-cols .banner__item {
        width: calc(50% - 20px);
    }

    .banner--3-cols .banner__item {
        width: calc(33.3333% - 20px);
    }
}

.banner__item {
    position: relative;
    margin: 0 10px 20px 10px;
    background: #000000;
    overflow: hidden;
}

.banner__link {
}

.banner__title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -65%);
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    z-index: -1;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.banner__image {
    width: 100%;
    object-fit: cover;
    transition: opacity ease-in-out 0.3s;
}


.banner__item--text {
    width: 100%;
    min-height: 340px;
    margin: auto;
    padding: 60px 15%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

.banner__link:hover .banner__title {
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 2;
}

.banner__link:hover .banner__image {
    opacity: 0.3;
}

.banner--parallax {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Promotion */
.html-content .promo-description {
    margin: 20px auto;
}

.html-content .promo-menu {
    display: flex;
    margin: 20px auto;
}

.html-content .promo-filter {
    margin: 0;
    padding: 0;
}

.promo-filter__item {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

.promo-filter__button {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}

.promo-filter__button--active {
    font-weight: bold;
}

.html-content .promo-material {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}


.promo-material__item {
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .promo-material__item {
        width: calc(33.3333% - 20px);
    }
}

.promo-material__link {

}

.promo-material__image-box {
    background: #e6e6e6;
    overflow: hidden;
}

.promo-material__image {
    transition: all ease-in-out 0.3s;
}

.promo-material__title {
    margin: 10px auto 20px;
    font-size: 16px;
    font-weight: normal;
}

.promo-material__link:hover .promo-material__image {
    opacity: 0.7;
    transform: translate(0, 2%);
}

